.intro {
    margin: 0 auto;
    margin-top: 92px;
    max-width: 984px;
    position: relative;
    overflow: hidden;
   
}

.intro::before {
    content: '';
    height: 600px;
    width: 600px;
    position: absolute;
    top: 0;
    right: -150px;
    background-size: contain;
    background-image: url(../../images/kaufman-triangle.svg);
    opacity: .5;   
}
  
@media screen and (max-width: 1279px) {
    .intro {
        max-width: 928px;
    }
}
  
@media screen and (max-width: 1023px) {
    .intro {
        margin-top: 88px;
        padding-left: 24px;
        max-width: 768px;
    }
}
  
@media screen and (max-width: 767px) {
    .intro {
        margin-top: 64px;
        padding-left: 16px;
        max-width: 320px;
    }

    .intro::before {
        content: '';
        height: 300px;
        width: 300px;
        
        right: -50px;
}